# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# Logs
*.log
logs/

# IDE / Editor files
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Misc
*.bak
*.tmp
